.new_article {
  margin-top: 6px;
  svg {
    fill: #929ca5;
    transition: all var(--hover-transition);
  }
}

.btn_avatar {
  width: 41px;
  height: 41px;
  padding: 1px;
  img {
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
  }
}

.btn_login {
  margin-left: auto;
}
