.label {
  font-size: 13px;
  font-weight: 500;
}

.textarea {
  resize: none;

  overflow: hidden;

  width: 100%;
  min-height: 100%;
  padding: 6px;

  color: var(--primary-color);

  background-color: inherit;

  &:focus {
    outline: 1px solid #42cf7f;
  }
}

::placeholder {
  color: rgb(160, 160, 160);
}

.not_editable {
  pointer-events: none;
}

.xl {
  font: var(--font-xl);
  ::placeholder {
    font-size: var(--font-size-xl);
  }
}

.md {
  font: var(--font-l);
  ::placeholder {
    font-size: var(--font-size-l);
  }
}

.sm {
  font: var(--font-m);
  ::placeholder {
    font-size: var(--font-size-m);
  }
}

.not_border {
  border: none;
  outline: none;
}
