.comment:not(:last-of-type) {
  margin-bottom: 25px;
}

.comment_header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment_name {
  margin-left: 10px;
  font-weight: 500;
}

.comment_date {
  font-size: var(--font-size-s);
  margin-left: 10px;
}
