.wrap_code {
  position: relative;
}

.code {
  overflow: auto;

  padding: 17px 20px;

  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;

  background: var(--bg-code);
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}

.copy_btn {
  position: absolute;
  top: 10px;
  right: 10px;

  svg g {
    stroke: var(--primary-color);
    transition: stroke 0.3s;
  }

  &:hover svg g {
    stroke: var(--hover-color);
  }
}
