.author_link {
  font-size: var(--font-size-m);
  font-weight: 600;
}

.card_body {
  margin-bottom: 20px;

  .title {
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 15px;
  }
}

.info {
  font-size: 16px;
}

.link {
  display: inline-block;

  padding: 6px 9px;

  font-size: var(--font-size-m);
  color: #fff !important;

  background-color: #1b528d;
  border-radius: 0.2rem;

  transition: background-color 0.5s;

  &:hover {
    background-color: #174577;
  }
}
