.like_rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  svg {
    cursor: pointer;
  }

  .svg g {
    fill: var(--rating-color);
    transition: opacity 0.3s;
  }

  .svg g:hover {
    opacity: 0.7;
  }

  .svg.liked {
    g {
      fill: rgb(48, 92, 236);
    }
  }

  .svg.disliked {
    g {
      fill: rgb(161, 36, 36);
    }
  }

  .count {
    font-size: var(--font-size-s);
    font-weight: 500;
  }

  .count.positive {
    color: #008000;
  }
  .count.negative {
    color: #910f06;
  }

  &.disabled svg {
    pointer-events: none;
  }
}
