.like_rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  svg {
    cursor: pointer;
  }

  .svg g {
    fill: rgba(68, 77, 107, 0.9);
  }

  .svg g:hover {
    fill: rgb(58, 66, 94);
  }

  .svg.liked {
    g {
      fill: rgb(48, 77, 173);
    }
  }

  .svg.disliked {
    g {
      fill: rgb(161, 36, 36);
    }
  }

  .count {
    font-size: var(--font-size-s);
    font-weight: 500;
  }

  .count.positive {
    color: #008000;
  }

  &.disabled svg {
    pointer-events: none;
  }
}
