.flex {
  display: flex;
}

.justifyStart {
  justify-content: start;
}

.justifyAround {
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: end;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.alignStart {
  align-items: start;
}

.gap2 {
  gap: 2px;
}

.gap4 {
  gap: 4px;
}

.gap6 {
  gap: 6px;
}

.gap8 {
  gap: 8px;
}

.gap10 {
  gap: 10px;
}

.gap12 {
  gap: 12px;
}

.gap14 {
  gap: 14px;
}

.gap16 {
  gap: 16px;
}

.gap18 {
  gap: 18px;
}

.gap20 {
  gap: 20px;
}

.gap22 {
  gap: 22px;
}

.wrap {
  flex-wrap: wrap;
}
