.h1 {
  font: var(--font-xl);
}

.h2 {
  font: var(--font-l);
}

.h3 {
  font: var(--font-m);
}

// size
.xl {
  font-size: var(--font-size-xl);
}

.lg {
  font-size: var(--font-size-l);
}

.md {
  font-size: var(--font-size-m);
}

.sm {
  font-size: var(--font-size-s);
}

// color
.secondary {
  color: var(--secondary-color);
}

.error {
  color: rgb(206, 4, 4);
}

.primary {
  color: var(--primary-color);
}

// position
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

// weight
.boldest {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 600;
}

.normal {
  font-weight: 500;
}

.lighter {
  font-weight: 400;
}
