.user_card {
  margin-bottom: 10px;
  padding: 10px 12px;
  background-color: var(--bg-card);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.user_info {
  font-size: var(--font-size-s);
}

.select_role {
  width: 200px;
}
