.flex {
  display: flex;
}

.justifyStart {
  justify-content: start;
}

.justifyAround {
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: end;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.alignStart {
  align-items: start;
}

.gap2 {
  gap: 2px;
}

.gap4 {
  gap: 4px;
}

.gap6 {
  gap: 6px;
}

.gap8 {
  gap: 8px;
}

.gap10 {
  gap: 10px;
}

.gap12 {
  gap: 12px;
}

.gap14 {
  gap: 14px;
}

.gap16 {
  gap: 16px;
}

.gap18 {
  gap: 18px;
}

.gap20 {
  gap: 20px;
}

.gap22 {
  gap: 22px;
}

.wrap {
  flex-wrap: wrap;
}

.marginBottomAuto {
  margin-bottom: auto;
}

.marginBottom2 {
  margin-bottom: 2px;
}

.marginBottom4 {
  margin-bottom: 4px;
}

.marginBottom6 {
  margin-bottom: 6px;
}

.marginBottom8 {
  margin-bottom: 8px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginBottom12 {
  margin-bottom: 12px;
}

.marginBottom14 {
  margin-bottom: 14px;
}

.marginBottom16 {
  margin-bottom: 16px;
}

.marginBottom18 {
  margin-bottom: 18px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginBottom22 {
  margin-bottom: 22px;
}

.marginLeftAuto {
  margin-left: auto;
}

.marginLeft2 {
  margin-left: 2px;
}

.marginLeft4 {
  margin-left: 4px;
}

.marginLeft6 {
  margin-left: 6px;
}

.marginLeft8 {
  margin-left: 8px;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginLeft12 {
  margin-left: 12px;
}

.marginLeft14 {
  margin-left: 14px;
}

.marginLeft16 {
  margin-left: 16px;
}

.marginLeft18 {
  margin-left: 18px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft22 {
  margin-left: 22px;
}

.marginTopAuto {
  margin-top: auto;
}

.marginTop2 {
  margin-top: 2px;
}

.marginTop4 {
  margin-top: 4px;
}

.marginTop6 {
  margin-top: 6px;
}

.marginTop8 {
  margin-top: 8px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop12 {
  margin-top: 12px;
}

.marginTop14 {
  margin-top: 14px;
}

.marginTop16 {
  margin-top: 16px;
}

.marginTop18 {
  margin-top: 18px;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop22 {
  margin-top: 22px;
}

.maxWidth {
  width: 100%;
}

.maxHeight {
  height: 100%;
}
